# Environment variables read in and made available to Cypress by
# https://github.com/morficus/cypress-dotenv
#
# Prefixing everything with `CYPRESS_` means that the env var will be made available in Cypress tests using `Cypress.env('HELLO')`

# Service details
# Note: the case of this env var is intended and must match this
baseUrl=http://localhost:3003

# Cognito details
CYPRESS_TOKEN_URL=https://mycognito.auth.eu-west-1.amazoncognito.com/oauth2/token
CYPRESS_ADMIN_USER=cognitoadminusername
CYPRESS_ADMIN_PASSWORD=cognitoadminpassword
CYPRESS_SYSTEM_USER=cognitosystemusername
CYPRESS_SYSTEM_PASSWORD=cognitosystempassword
